@page "/"
@using blazorweb.Shared
@inject HttpClient Http

<h1>Hello</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (blobNames == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul>
        @foreach (var blobName in blobNames)
        {
            <li>@blobName</li>
        }
    </ul>
    <button @onclick="@AddRandomBlob"></button>
}

@code {
    private List<string> blobNames;

    protected override async Task OnInitializedAsync()
    {
        blobNames = await Http.GetFromJsonAsync<List<string>>("api/Blob");
    }

    protected async Task AddRandomBlob()
    {
        await Http.PostAsync("api/Blob", null);
        blobNames = await Http.GetFromJsonAsync<List<string>>("api/Blob");
    }

}
