@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Auto swap enabled</p>
    <p>Auto swap enabled2</p>
    <p>Auto swap enabled3</p>
    <p>Auto swap enabled4</p>
    <p>Auto swap enabled5</p>
    <p>Auto swap enabled6</p>
</div>
